# Web Scraping Assignment-4

* Name: Rima Das
* Batch : Ds2306

## Questions:

#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

* Rank
* Name
* Artist
* Upload date
* Views

In [1]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [2]:
#opening the website page
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
#Extracting Rank
rank=[i.text.strip('.') for i in driver.find_elements(By.XPATH,'//tbody/tr/td[1]')[:30]]

#Extracting Name
name =[i.text.split('[')[0] for i in driver.find_elements(By.XPATH,'//tr/td[2]')[:30]]

#Extracting Artist
artist = [i.text for i in driver.find_elements(By.XPATH,'//tr/td[3]')[:30]]

#extracting views
viewsBillions =[i.text for i in driver.find_elements(By.XPATH,'//tr/td[4]')[:30]]

#extracting Upload Date
uploadDate=[i.text for i in driver.find_elements(By.XPATH,'//tr/td[5]')[:30]]

driver.close()

print(len(rank),len(name),len(artist),len(viewsBillions),len(uploadDate))

30 30 30 30 30

In [4]:
Most_viewed_videos_on_YouTube = pd.DataFrame({
    "Rank":rank,
    "Name": name,
    "Artist": artist,
    "Upload Date": uploadDate,
    "Views In Billions": viewsBillions
})

#set rank as index
Most_viewed_videos_on_YouTube = Most_viewed_videos_on_YouTube.set_index('Rank')
Most_viewed_videos_on_YouTube

,Name,Artist,Upload Date,Views In Billions
Rank,,,,
1,"""Baby Shark Dance""",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.23
3,"""Johny Johny Yes Papa""",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
4,"""Bath Song""",Cocomelon - nursery rhymes,"May 2, 2018",6.33
5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.05
6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.98
8,"""Wheels on the Bus""",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,"""Phonics Song with Two Words""",ChuChu TV - children's songs,"March 6, 2014",5.42
9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.99
10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV - children's songs,"February 27, 2018",4.94
11,"""Gangnam Style""",Psy,"July 15, 2012",4.86
12,"""Masha and the Bear – Recipe for Disaster""",Get Movies - children's songs,"January 31, 2012",4.55
13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.41
14,"""Axel F""",Crazy Frog,"June 16, 2009",4.00
15,"""Sugar""",Maroon 5,"January 14, 2015",3.91
16,"""Roar""",Katy Perry,"September 5, 2013",3.84
17,"""Counting Stars""",OneRepublic,"May 31, 2013",3.84
18,"""Baa Baa Black Sheep""",Cocomelon - nursery rhymes,"June 25, 2018",3.73
19,"""Sorry""",Justin Bieber,"October 22, 2015",3.69
20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.68
21,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.63
22,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.63
23,"""Dark Horse""",Katy Perry,"February 20, 2014",3.56
24,"""Perfect""",Ed Sheeran,"November 9, 2017",3.51
25,"""Faded""",Alan Walker,"December 3, 2015",3.49
26,"""Let Her Go""",Passenger,"July 25, 2012",3.48
27,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
28,"""Girls Like You""",Maroon 5,"May 31, 2018",3.45
29,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.43
30,"""Lean On""",Major Lazer,"March 22, 2015",3.43

#### 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:
*  Match title (I.e. 1 ODI)
* Series
* Place
* Date
* Time
**Note: - From bcci.tv home page you have reach to the international fixture page through code.**

In [5]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [6]:
#opening the website page
driver.get("https://www.bcci.tv/")

In [7]:
#opening the International Page
international = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [8]:
#accepting cooking
try:
    cookie=driver.find_element(By.XPATH,'//button[@class="cookie__accept btn btn-primary"]')
    cookie.click()
except NoSuchElementException:
    print('No Exception Occured')

# CLicking more button
while(True):
    try:
        more = driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
        more.click()
    except NoSuchElementException:
        break
        
#Extracting match Title
match=[i.text.strip(' -') for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')]

#Extracting Series
series = [i.text for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')]

#Extracting Place
place = [i.text.split(' -')[1] for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')]

# Extracting Date
date = [i.text for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')]

# Extracting Time
time = [i.text for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')]

driver.close()

print(len(match),len(series),len(place),len(date),len(time))

internationalfixtures=pd.DataFrame({
    "Match Title": match,
    "Series": series,
    "Place": place,
    "Date": date,
    "Time":time
})
internationalfixtures

38 38 38 38 38

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",18 AUG 2023,7:30 PM IST
1,2nd T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",20 AUG 2023,7:30 PM IST
2,3rd T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",23 AUG 2023,7:30 PM IST
3,1st ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",2 SEP 2023,10:00 AM IST
4,2nd ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",4 SEP 2023,10:00 AM IST
5,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",22 SEP 2023,1:30 PM IST
6,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
7,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,1:30 PM IST
8,1st ODI,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai",8 OCT 2023,2:00 PM IST
9,2nd ODI,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi",11 OCT 2023,2:00 PM IST
10,3rd ODI,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad",14 OCT 2023,2:00 PM IST
11,4th ODI,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune",19 OCT 2023,2:00 PM IST
12,5th ODI,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium,...",22 OCT 2023,2:00 PM IST
13,6th ODI,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 OCT 2023,2:00 PM IST
14,7th ODI,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai",2 NOV 2023,2:00 PM IST
15,8th ODI,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata",5 NOV 2023,2:00 PM IST
16,9th ODI,ICC MENS WORLD CUP 2023,"M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,2:00 PM IST
17,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...,23 NOV 2023,7:00 PM IST
18,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvanant...",26 NOV 2023,7:00 PM IST
19,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati",28 NOV 2023,7:00 PM IST
20,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Vidarbha Cricket Association Stadium, Nagpur",1 DEC 2023,7:00 PM IST
21,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",3 DEC 2023,7:00 PM IST
22,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban",10 DEC 2023,9:30 PM IST
23,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",12 DEC 2023,9:30 PM IST
24,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg",14 DEC 2023,9:30 PM IST
25,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,17 DEC 2023,2:00 PM IST
26,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",19 DEC 2023,2:00 PM IST
27,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl",21 DEC 2023,2:00 PM IST
28,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion",26 DEC 2023,1:30 PM IST
29,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town",3 JAN 2024,1:30 PM IST
30,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",11 JAN 2024,7:00 PM IST
31,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",14 JAN 2024,7:00 PM IST
32,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru",17 JAN 2024,7:00 PM IST
33,1st Test,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",25 JAN 2024,9:30 AM IST
34,2nd Test,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...,2 FEB 2024,9:30 AM IST
35,3rd Test,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",15 FEB 2024,9:30 AM IST
36,4th Test,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi",23 FEB 2024,9:30 AM IST
37,5th Test,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,...",7 MAR 2024,9:30 AM IST

#### 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:

* Rank
* State
* GSDP(18-19)- at current prices
* GSDP(19-20)- at current prices
* Share(18-19)
* GDP($ billion)

** Note: - From statisticstimes home page you have to reach to economy page through code.**

In [9]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [10]:
#opening the website page
driver.get("https://www.statisticstimes.com/")

In [11]:
#clicking Economy
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

#Clicking on India
india=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]')
india.click()

In [13]:
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [14]:
#Extracting the details
rank = []
state = []
gsdp_18 = []
gsdp_19 = []
shares = []
gdp = []

#Extracting the rank details
try:
    rank_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[1]")
    for ra in rank_tags:
        rank.append(ra.text)
except NoSuchElementException:
    Company.append('NA')
    
#Extracting state name details
try:
    state_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[2]")
    for st in state_tags:
        state.append(st.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting gsdp 2019-20
try:
    gsdp_19_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[3]")
    for g in gsdp_19_tags:
        gsdp_19.append(g.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting gsdp 2018-19
try:
    gsdp_18_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[4]")
    for gs in gsdp_18_tags:
        gsdp_18.append(gs.text)
except NoSuchElementException:
    Company.append('NA')
    
#Extracting share details
try:
    shares_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[5]")
    for sh in shares_tags:
        shares.append(sh.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting GDP details
try:
    gdp_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[6]")
    for gd in gdp_tags:
        gdp.append(gd.text)
except NoSuchElementException:
    Company.append('NA')

gdp_india = pd.DataFrame({'Rank':rank,'State':state,'GSDP 2019-20(Cr INR at Current Price)':gsdp_19,'GSDP 2018-19(Cr INR at Current Price)':gsdp_18,'Share(%)':shares,'GDP($billion)':gdp})
gdp_india

,Rank,State,GSDP 2019-20(Cr INR at Current Price),GSDP 2018-19(Cr INR at Current Price),Share(%),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

#### 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details:

* Repository title
* Repository description
* Contributors count
* Language used 

**Note: - From the home page you have to click on the trending option from Explore menu through code.**

In [15]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [16]:
#opening the website page
driver.get("https://github.com/")

In [17]:
#Clicking Open Source
source =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

#clicking Trending
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [18]:
#Extracting title
title=[i.text for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')]

#Extracting Description
description = []

for item in driver.find_elements(By.XPATH, '//article[@class="Box-row"]'):
    try:
        des = item.find_element(By.XPATH, './/p[@class="col-9 color-fg-muted my-1 pr-4"]')
        description.append(des.text)
    except NoSuchElementException:
        description.append('-')
        
#Extracting Contributors count
count=[i.text for i in driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a')]
contri=count[::2]

#Extracting Language
lang = []
for items in driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]'):
    try:
        l= items.find_element(By.XPATH,'./span/span[2]')
        lang.append(l.text)
    except NoSuchElementException:
        lang.append('-')
        
driver.close()
print(len(title), len(description), len(contri), len(lang))

#Converting it into DataFrame:
trending_repositories = pd.DataFrame({
    "Repository Title":title,
    "Repository Description": description,
    "Contributors Count" : contri,
    "Language" : lang
})

trending_repositories

25 25 25 25

,Repository Title,Repository Description,Contributors Count,Language
0,joonspk-research / generative_agents,Generative Agents: Interactive Simulacra of Hu...,"8,766",-
1,modelscope / facechain,FaceChain is a deep-learning toolchain for gen...,766,Python
2,phoboslab / wipeout-rewrite,-,439,C
3,clockworklabs / SpacetimeDB,Multiplayer at the speed of light,"1,871",Rust
4,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,"53,376",Python
5,id-Software / quake2-rerelease-dll,-,"1,431",C
6,huggingface / candle,Minimalist ML framework for Rust,"6,581",Rust
7,TheAlgorithms / Python,All Algorithms implemented in Python,"164,132",Python
8,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"70,814",C++
9,Plachtaa / VITS-fast-fine-tuning,This repo is a pipeline of VITS finetuning for...,"2,619",Python
10,graphdeco-inria / gaussian-splatting,"Original reference implementation of ""3D Gauss...","1,102",Python
11,FlowiseAI / Flowise,Drag & drop UI to build your customized LLM flow,"13,605",TypeScript
12,binhnguyennus / awesome-scalability,"The Patterns of Scalable, Reliable, and Perfor...","46,707",-
13,PeiQi0 / PeiQi-WIKI-Book,面向网络安全从业者的知识文库🍃,"2,589",-
14,DeBankDeFi / DeBankChain,-,166,Go
15,taikoxyz / taiko-mono,"A decentralized, Ethereum-equivalent ZK-Rollup. 🥁","1,887",HTML
16,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...","72,766",Python
17,homanp / superagent,"🥷 Superagent - Build, deploy, and manage LLM-p...","2,122",JavaScript
18,PaperMC / Folia,Fork of Paper which adds regionised multithrea...,"2,491",Kotlin
19,ytdl-org / youtube-dl,Command-line program to download videos from Y...,"122,503",Python
20,YBIFoundation / Fundamental,Jupyter Notebook,677,Jupyter Notebook
21,libsdl-org / SDL,Simple Directmedia Layer,"6,303",C
22,Infisical / infisical,"♾ Infisical is an open-source, end-to-end encr...","8,222",TypeScript
23,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,"96,768",Python
24,MustardChef / WSABuilds,Run Windows Subsystem For Android on your Wind...,"2,363",Shell

#### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

* Song name
* Artist name
* Last week rank
* Peak rank
* Weeks on board

**Note: - From the home page you have to click on the charts option then hot 100-page link through code**

In [19]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [20]:
#opening the website page
driver.get("https://www.billboard.com/")

In [21]:
#Clicking on the menu
menu=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[1]/div[1]/button')
menu.click()

In [22]:
#Clicking top 100
top = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
top.click()

In [23]:
#Extracting Required Data
data=[i.text.split('\n') for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')]

driver.close()

#Creating DataFrame:
columns = ['Song name', 'Artist Name', 'Last Weak Rank', 'Peak Rank', 'Weeks on Chart']

Top100 = pd.DataFrame(data, columns=columns)
Top100

,Song name,Artist Name,Last Weak Rank,Peak Rank,Weeks on Chart
0,Last Night,Morgan Wallen,2,1,27
1,Fast Car,Luke Combs,3,2,19
2,Meltdown,Travis Scott Featuring Drake,-,3,1
3,Cruel Summer,Taylor Swift,6,4,13
4,FE!N,Travis Scott Featuring Playboi Carti,-,5,1
...,...,...,...,...,...
95,Oh U Went,Young Thug Featuring Drake,66,19,6
96,ICU,Coco Jones,71,62,18
97,Pound Town 2,Sexyy Red & Tay Keith & Nicki Minaj,74,66,9
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,72,31,9
99,Johnny Dang,"That Mexican OT, Paul Wall & DRODi",96,96,3

#### 6. Scrape the details of Highest selling novels.compare
* Book name
* Author name
* Volumes sold
* Publisher
* Genre

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greyYou have to find the following details

In [24]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [25]:
#opening the website page
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [26]:
#Extracting Book Name
book =[i.text for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')]

#Extracting Author Name
author = [i.text for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')]

#Extracting Volumes sold
vol = [i.text for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')]

#Extracting Publisher
pub = [i.text for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')]

#Extracting Genre
gen = [i.text for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')]

driver.close()
print(len(book),len(author),len(vol),len(pub), len(gen))

# Convertingin Dataframe:
Highest_selling_novels=pd.DataFrame({
    "Book Name": book,
    "Author Name":author,
    "Volumes sold":vol,
    "Publisher": pub,
    "Genre" : gen
})

Highest_selling_novels

100 100 100 100 100

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:

* Name
* Year span
* Genre
* Run time
* Ratings
* Votes

In [27]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [28]:
#opening the website page
driver.get("https://www.imdb.com/list/ls095964455/")

In [29]:
#Extracting Name:
name =[i.text for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')]

# Extracting Year Span
year = [i.text for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')]

#Extracting Genre 
genre = [i.text for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')]

#Extracting Run time
time = [i.text for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')]

#Extracting Rating
rating = [i.text for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')]

#Extracting Votes
voting = [i.text for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')]

driver.close()
print(len(name), len(year), len(genre), len(time), len(rating),len(voting))

#Creating DataFrame
most_watched_tv_series=pd.DataFrame({
    "Name": name,
    "Year span":year,
    "Genre":genre,
    "Run time":time,
    "Ratings":rating,
    "Votes": voting
})
most_watched_tv_series

100 100 100 100 100 100

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,191,908"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,265,861"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,492"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,807"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,893"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,400"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,426"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"209,987"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,659"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,433"

#### 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:

* Dataset name
* Data type
* Task
* Attribute type
* No of instances
* No of attribute
* Year

**Note: - from the home page you have to go to the Show All Dataset page through code.**

In [1]:
# Importing Libraries
import pandas as pd
import selenium                                  
from bs4 import BeautifulSoup
from selenium import webdriver                   
from selenium.webdriver.common.by import By      

import warnings                                  
warnings.filterwarnings("ignore")

import time                                      
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

#Importing required exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

# Let's Install automated chrome browser and connect it to web driver
driver = webdriver.Chrome(service=Service())

#maximise the window
driver.maximize_window()

In [2]:
#opening the website page
driver.get("https://archive.ics.uci.edu/")

In [3]:
#clicking all dataset
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
dataset.click()

In [4]:
#Clicking collapse
collapse=driver.find_element(By.XPATH,'//label[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]')
collapse.click()

In [5]:
name=[]
datatype=[]
task=[]
instances=[]
no_attribute=[]
attributetype=[]
year=[]

while True:
    
    #Extracting Name:
    for i in driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]'):
        name.append(i.text)
    
    #Extracting DataType
    for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[2]'):
        datatype.append(i.text)
        
    #Extracting task
    for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[1]'):
        task.append(i.text)
    
    #Extracting attribute
    try:
        for i in driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]'):
            attributetype.append(i.text)
    except (NoSuchElementException, StaleElementReferenceException):
        attributetype.append('N/A')
        
    #Extracting instances
    for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[3]'):
        instances.append(i.text)
    
    #Extracting No of attributes
    for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[4]'):
        no_attribute.append(i.text)
    
    #Extracting attribute
    for i in driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]'):
        try:
            a=i.find_element(By.XPATH,'./table/tbody/tr/td[2]')
            attributetype.append(a.text)
        except NoSuchElementException:
            attributetype.append('N/A')
    
    #Extracting Year
    for i in driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]'):
        try:
            y= i.find_element(By.XPATH,'./table/tbody/tr/td[3]')
            year.append(y.text)
        except NoSuchElementException:
            year.append('N/A')
        
    #clicking next button
    try:
        nextButton= driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
        nextButton.click()
        time.sleep(3)
    except (NoSuchElementException, ElementClickInterceptedException):
        break

driver.close()
Attributetype=attributetype[:624]
print(len(name),len(datatype),len(task),len(instances),len(no_attribute), len(Attributetype), len(year))

#Creating DataFrame:
data=pd.DataFrame({
    "Dataset Name":name,
    "Data Type":datatype,
    "Task":task,
    "Attribute Type":Attributetype,
    "No of Instances":instances,
    "No of Attribute":no_attribute,
    "Year":year})
data

624 624 624 624 624 624 624

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Multivariate,Classification,Real,150 Instances,4 Attributes,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Attributes,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Attributes,N/A
...,...,...,...,...,...,...,...
619,PMU-UD,Univariate,Classification,Real,5.18K Instances,9 Attributes,8/5/2018
620,Moral Reasoner,,,Real,202 Instances,,6/1/1994
621,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,Classification,Integer,1.45K Instances,,7/22/2019
622,DGP2 - The Second Data Generation Program,,,Real,,,N/A
623,EBL Domain Theories,,,Real,,,N/A