# WEB SCRAPING with BeautifulSoup

Name: Rima Das
Batch: DS2306

### Importing all the reqd Libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### **Question: 1** Write a python program to display all the header tags from wikipedia.org and make **data frame.**

In [2]:
wiki = requests.get('https://en.wikipedia.org/wiki/Main_Page')
wikicontent = BeautifulSoup(wiki.content)

headers = []
for i in wikicontent.find_all('span',class_="mw-headline"):
    headers.append(i.text)
    
#making dataframe
df = pd.DataFrame({'Headers':headers})
df

                         Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

---

### **Question: 2** Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [3]:
presidents = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup = BeautifulSoup(presidents.content)

#extracting Names
names = [i.text for i in soup.find_all('h3')]
extract_names = [name.split('(')[0].strip() for name in names]

#extracting Terms:
terms = [i.text.strip('\n') for i in soup.find_all('div', class_="presidentListing")]
data=[i.split('\n')[1].split(':')[1] for i in terms]

#making DataFrame
Former_president = pd.DataFrame({'President_Name': extract_names, 'Term_of_office': data})
Former_president

,President_Name,Term_of_office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

---

### **Question: 3** Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
1. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
2. Top 10 ODI Batsmen along with the records of their team andrating.
3. Top 10 ODI bowlers along with the records of their team andrating.

#### 1. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [4]:
# Get Response
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

#Page Content
soup = BeautifulSoup(page.content)

# Extracting table
table = soup.find('table', class_="table")
table.find_all('th')
 
# Extracting Header
Head = [i.text.strip('\n') for i in table.find_all('th')]
head = [i.split('\n')[0] for i in Head]

# Extracting Data from table body
data = []
rows = table.find_all('tr')[1:11]

for row in rows:
    col = row.find_all('td')
    cell = [ele.text.strip() for ele in col]
    data.append([ele for ele in cell if ele])

#cleaning unnecessary data
selected_data = [[i.split('\n')[0] for i in ele] for ele in data]

# Making DataFrame
top10_team = pd.DataFrame(data = selected_data, columns = head)
top10_team.drop(['Pos'], axis=1, inplace=True)
top10_team

           Team Matches Points Rating
0     Australia      23  2,714    118
1      Pakistan      20  2,316    116
2         India      33  3,807    115
3   New Zealand      27  2,806    104
4       England      24  2,426    101
5  South Africa      19  1,910    101
6    Bangladesh      25  2,451     98
7     Sri Lanka      28  2,378     85
8   Afghanistan      13  1,067     82
9   West Indies      32  2,201     69

#### 2. Top 10 ODI Batsmen along with the records of their team and rating.

In [5]:
# Get Response
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

# Page Content
soup = BeautifulSoup(page.content)

# extracting table
table = soup.find('table', class_="table rankings-table")

#extracting table head
tablehead = [i.text for i in table.find_all('th')]

#extracting table body
body = table.find('tbody')
rows = table.find_all('tr')[1:11]

data = []
for row in rows:
    col = row.find_all('td')
    col = [ele.text.strip() for ele in col]
    data.append(col)

selected_data = [[i.split('\n')[0] for i in items] for items in data]

# Making DataFrame
batting = pd.DataFrame(data = selected_data, columns = tablehead)
batting.drop(['Pos', 'Career Best Rating'], axis=1, inplace = True)
batting

                  Player Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    738
5           Harry Tector  IRE    726
6           David Warner  AUS    726
7            Virat Kohli  IND    719
8        Quinton de Kock   SA    718
9           Rohit Sharma  IND    707

#### 3. Top 10 ODI bowlers along with the records of their team andrating.

In [6]:
#Get Request
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

# Page content
soup = BeautifulSoup(page.content)
soup

#Extracting Table
table = soup.find('table', class_="table rankings-table")

#Extracting table head
tablehead = table.find_all('th')
head = [i.text for i in tablehead]

# Extracting rows from Table body
rows = table.find_all('tr')[1:11]

data = []
for row in rows:
    col = row.find_all('td')
    col =[i.text.strip() for i in col]
    data.append(col)

cells =[[i.split('\n')[0] for i in items]for items in data]

# Making DataFrame
bolwers = pd.DataFrame(data=cells, columns = head )
bolwers.drop(['Pos', 'Career Best Rating'], axis=1, inplace=True)
bolwers

             Player Team Rating
0    Josh Hazlewood  AUS    705
1    Mohammed Siraj  IND    691
2    Mitchell Starc  AUS    686
3        Matt Henry   NZ    667
4       Trent Boult   NZ    660
5        Adam Zampa  AUS    652
6       Rashid Khan  AFG    640
7    Shaheen Afridi  PAK    630
8  Mujeeb Ur Rahman  AFG    630
9     Mohammad Nabi  AFG    626

---

### **Question: 4** Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
1. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
2. Top 10 women’s ODI Batting players along with the records of their team and rating.
3. Top 10 women’s ODI all-rounder along with the records of their team and rating.

#### 1. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [7]:
url = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(url.content)

#Extracting table
table = soup.find('table', class_="table")
table.find_all('th')

#extracting Header
head = [i.text.strip('\n') for i in table.find_all('th')]
columns = [i.split('\n')[0] for i in head]

# Extracting data from table
data = []
table_body = soup.find('tbody')
rows = table.find_all('tr')[1:]

for row in rows:
    cols = row.find_all(['td', 'th'])
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

selected_data = [[i.split('\n')[0] for i in inner_list] for inner_list in data]

# Making DataFrame
top_team = pd.DataFrame(data = selected_data, columns = columns)
top_team.pop('Pos')
top_team

            Team Matches Points Rating
0      Australia      21  3,603    172
1        England      28  3,342    119
2   South Africa      26  3,098    119
3          India      27  2,820    104
4    New Zealand      28  2,688     96
5    West Indies      29  2,743     95
6     Bangladesh      14    977     70
7      Sri Lanka      12    820     68
8       Thailand      12    806     67
9       Pakistan      27  1,678     62
10       Ireland      16    605     38
11   Netherlands      10     90      9
12      Zimbabwe      11      0      0

#### 2. Top 10 ODI Batsmen along with the records of their team andrating.

In [8]:
#Send Get Request
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

# Create a BeautifulSoup object
soup = BeautifulSoup(page.content)

#Extracting the table header Batting in top 10
table = soup.find('table', class_="table rankings-table")
title = [i.text for i in table.find_all('th')]

#Extracting the tabledata Batting in top 10
data_cells = []
table_body = soup.find('tbody')
table_body_rows = soup.find_all('tr')[1:11]

for row in table_body_rows:
    col = row.find_all(['td'])
    col = [ele.text.strip() for ele in col]
    data_cells.append(col)

celldata = [[i.split('\n')[0] for i in cell] for cell in data_cells]

# Making DataFrame
womens_Top_10_Batting = pd.DataFrame(data = data, columns = title)
womens_Top_10_Batting.drop(['Pos', 'Career Best Rating'], axis=1, inplace=True)
womens_Top_10_Batting

              Player Team Rating
0     Australia\nAUS   21  3,603
1       England\nENG   28  3,342
2   South Africa\nSA   26  3,098
3         India\nIND   27  2,820
4    New Zealand\nNZ   28  2,688
5    West Indies\nWI   29  2,743
6    Bangladesh\nBAN   14    977
7      Sri Lanka\nSL   12    820
8      Thailand\nTHA   12    806
9      Pakistan\nPAK   27  1,678
10      Ireland\nIRE   16    605
11  Netherlands\nNED   10     90
12     Zimbabwe\nZIM   11      0

#### 3. Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [9]:
# Send Get Request

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

soup = BeautifulSoup(page.content)

#Extracting the table header All-Rounder Rankings in top 10
table = soup.find('table', class_="table rankings-table")
head = [i.text for i in table.find_all('th')]

#Extracting the table data All-Rounder Rankings in top 10
rows = []

table_body = soup.find('tbody')
table_body_rows = soup.find_all('tr')[1::11]

for row in table_body_rows:
    col = row.find_all(['td'])
    col = [ele.text.strip() for ele in col]
    data_cells.append(col)

celldata = [[i.split('\n')[0] for i in cell] for cell in data_cells]

#taking Top 10 Womens batting Player
data = celldata[:10]

#Making Dataframe
rounder = pd.DataFrame(data = data, columns=head)
rounder.drop(['Pos','Career Best Rating'], axis=1, inplace=True)
rounder

                Player Team Rating
0  Chamari Athapaththu   SL    758
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7         Ellyse Perry  AUS    626
8      Stafanie Taylor   WI    618
9       Tammy Beaumont  ENG    595

---

### **Question: 5** Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
1. Headline
2. Time
3. News Link

In [10]:
#Get Request
page = requests.get('https://www.cnbc.com/world/?region=world')

#Page Content
soup = BeautifulSoup(page.content)

# Articles in the website
articles = soup.find_all('div', class_="LatestNews-headlineWrapper")

# Extracting Headlines from the article
Headlines = [i.find('a', class_="LatestNews-headline").text for i in articles]

# Extracting links of the headlines
links = [i.find('a')['href'] for i in articles]

#extracting time
time = [i.find('time', class_="LatestNews-timestamp").text for i in articles]

#Making DataFrame
News = pd.DataFrame({"Headline": Headlines, "Time":time, "links":links})
News

,Headline,Time,links
0,Volkswagen will test self-driving cars in Aust...,43 Min Ago,https://www.cnbc.com/2023/07/06/volkswagen-mob...
1,Ford's U.S. sales jump 9.9% on big gains for i...,44 Min Ago,https://www.cnbc.com/2023/07/06/fords-second-q...
2,Elon Musk praises China's 'very strong' A.I. c...,1 Hour Ago,https://www.cnbc.com/2023/07/06/elon-musk-chin...
3,Trump aide Walt Nauta set to be arraigned in c...,1 Hour Ago,https://www.cnbc.com/2023/07/06/trump-aide-wal...
4,Jim Cramer's top 10 things to watch in the sto...,2 Hours Ago,/investingclub/
5,How Delta is upgrading its fleet for better cu...,2 Hours Ago,https://www.cnbc.com/2023/07/06/how-delta-is-u...
6,Bitcoin touches 13-month high on optimism a Bl...,2 Hours Ago,https://www.cnbc.com/2023/07/06/bitcoin-touche...
7,"Private sector adds 497,000 jobs in June, more...",2 Hours Ago,https://www.cnbc.com/2023/07/06/adp-jobs-repor...
8,Amazon sellers say they were kicked off site a...,2 Hours Ago,https://www.cnbc.com/2023/07/06/amazon-sellers...
9,Stocks making the biggest moves premarket: Jet...,2 Hours Ago,https://www.cnbc.com/2023/07/06/stocks-making-...
10,Buy Keurig Dr Pepper as the stock prices in to...,2 Hours Ago,/pro/
11,"JPMorgan warns UK could see 'hard landing,' sa...",3 Hours Ago,https://www.cnbc.com/2023/07/06/boe-could-hike...
12,"BofA upgrades Sweetgreen, says automation can ...",3 Hours Ago,/pro/
13,"Qatar Airways reports record revenues, bolster...",3 Hours Ago,https://www.cnbc.com/2023/07/06/qatar-airways-...
14,Mortgage demand drops to lowest level in a mon...,3 Hours Ago,https://www.cnbc.com/2023/07/06/mortgage-deman...
15,Citi says buy this aircraft maker with more th...,3 Hours Ago,/pro/
16,5 things to know before the stock market opens...,3 Hours Ago,https://www.cnbc.com/2023/07/06/5-things-to-kn...
17,Wolfe Research says buy this mall operator tha...,4 Hours Ago,/pro/
18,TotalEnergies CEO defends strategy despite cal...,4 Hours Ago,https://www.cnbc.com/2023/07/06/totalenergies-...
19,This green hydrogen stock can rally more than ...,4 Hours Ago,/pro/
20,Janet Yellen arrives in Beijing on mission to ...,5 Hours Ago,https://www.cnbc.com/2023/07/06/janet-yellen-a...
21,China says it told the U.S. and Europe about t...,6 Hours Ago,https://www.cnbc.com/2023/07/06/china-says-it-...
22,2-year Treasury yield hits 16-year high after ...,6 Hours Ago,https://www.cnbc.com/2023/07/06/us-treasurys-i...
23,OPEC chief says the search is on for new membe...,7 Hours Ago,https://www.cnbc.com/2023/07/06/opec-chief-say...
24,A $12 phone is opening doors for rural India t...,7 Hours Ago,https://www.cnbc.com/2023/07/06/reliance-jio-b...
25,CNBC Daily Open: Brace yourself for higher rates,8 Hours Ago,https://www.cnbc.com/2023/07/06/stock-markets-...
26,"Wagner leader Prigozhin in St. Petersburg, Bel...",8 Hours Ago,https://www.cnbc.com/2023/07/06/ukraine-war-li...
27,Chinese investors are not expecting much stimu...,8 Hours Ago,https://www.cnbc.com/2023/07/06/local-investor...
28,European stocks down nearly 2% after strong U....,8 Hours Ago,https://www.cnbc.com/2023/07/06/european-marke...
29,Bad news for nervous flyers: Turbulence is get...,9 Hours Ago,https://www.cnbc.com/2023/07/06/bad-news-for-n...

---

### **Question: 6** Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame
1. Paper Title
2. Authors
3. Published Date
4.  Paper URL

In [11]:
# Get Request
url = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

# Page Content
soup = BeautifulSoup(url.content)

#Extracting Titles
paper_tiles = [i.text for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm")]

#Extracting Author Name
author = [i.text for i in soup.find_all('span', class_="sc-1w3fpd7-0 dnCnAO")]
author

#extracting Published date
date = [i.text for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt")]

# Extracting All Paper links
paper = [i.get('href') for i in soup.find_all('a', class_="sc-5smygv-0 fIXTHm")]

#Making DataFrame
df = pd.DataFrame({'Paper Title':paper_tiles, 'Author':author, 'Published Date':date, 'Paper URL':paper})
df

,Paper Title,Author,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

---

###  **Question: 7** Write a python program to scrape mentioned details from dineout.co.inand make data frame
1. Restaurant name
2. Cuisine
3. Location
4. Ratings
5. Image URL

In [12]:
# Get Request
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

# Page Content
soup = BeautifulSoup(page.content)

# 1. Scrapping Restaurant name
names = [i.text for i in soup.find_all('a',class_="restnt-name ellipsis")]

# 2. Scrapping cuisine
cuisine = [i.text.split('|')[1] for i in soup.find_all('span', class_="double-line-ellipsis")]

# 3. Scrapping Location
location = [i.text for i in soup.find_all('div', class_="restnt-loc ellipsis")]
location

# 4. Scrapping Ratings
ratings = [i.text for i in soup.find_all('div', class_="restnt-rating rating-4")]


# 5. Scrapping Image Urls
images = [i.get('data-src') for i in soup.find_all('img', class_="no-img")]

#Making DataFrame
pd = pd.DataFrame({'Restaurant Names':names, 'Cuisine':cuisine, 'Location':location, 'Rating':ratings,'Images':images })
pd

,Restaurant Names,Cuisine,Location,Rating,Images
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

---